[submodule "Hazel/vendor/spdlog"]
	path = Hazel/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Hazel/vendor/GlFW"]
	path = Hazel/vendor/GlFW
	url = https://github.com/TheCherno/glfw
[submodule "Hazel/vendor/GLFW"]
	path = Hazel/vendor/GLFW
	url = https://github.com/TheCherno/glfw
